body{
margin-left:100px;
margin-right:100px;
background-color: #000;
}
.story{
font-family:sans-serif;
color: #ccc7c1;
}
a {
color: #47cef7;
}

@media only screen and (max-device-width: 480px) {
body{
margin-left:0px;
margin-right:0px;
background-color: #000;
}
